/* Global fonts
Arabic:    font-family: 'Amiri', sans-serif;
English:   font-family: 'Slabo 27px', sans-serif;
*/
.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .left {
    min-width:230px; 
    top:50%;
    right:100%;
    margin-right:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .left {
    visibility:visible; opacity:1;
}

.tooltip .left i {
    position:absolute;
    top:50%;
    left:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .left i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

/*#### Global Configuration ####*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Amiri', sans-serif;
    font-size: 25px;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(228, 228, 228);
    margin: 5px 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 90%;
}

/*#### header ####*/
.header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.title{
    font-size: 150%;
    color: rgb(126, 126, 126);
    padding-bottom: 10px; 
}

/*#### Content and posts Container ####*/

.content-container{
    width: 100%;
    display: inline-block;
}

/*#### Post ####*/
.posts-title{
    text-align: center;
    font-size: 120%;
    font-family: 'Amiri', sans-serif;
    color: rgb(126, 126, 126);
    margin-bottom: 50px;
}

.post{
    margin:   0 auto;
    padding:  10px;
    width:    60%;
}

.post-date{
    color:rgb(6, 102, 81);
    display: inline-block;
    font-size: 60%;
}

.post-title{
    text-align: right;
    float: right;
    font-size: 110%;
    color: rgb(78, 102, 6);
    transition: 0.5s;
}
.post-title:hover{
    font-size:112%;
    cursor: pointer;
}

.post-description{
    text-align: justify;
    color: rgb(20, 26, 3);
    font-size: 80%;
}

.post-readmore{
    text-align: right;
    text-decoration: none;
    color: rgb(42, 144, 190);
    font-size: 80%;
    transition: 0.5s;
}
.post-readmore:hover{
    font-size: 90%;
}

.thumbnail{
    width: 100%;
    height: auto;
}

/*#### Footer ####*/

.footer{
    margin-top: 200px;
    text-align: right;
    width: auto;
    height: 200px;
    padding: 20px;
    bottom: 0px;
    background-color: rgb(230, 230, 230);
}

.des-credits{
    color: rgb(145, 145, 145);
    font-size: 90%;
}